@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8fb;
  --foreground: #14151a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}
